<?php
//$host1 = 'http://example.org/';
//$host2 = 'http://example.org/';
$mediatomb = array(
    'user' => 'fixme',
    'pass' => 'fixme',
    'host' => 'fixme',
    'port' => '49152',
    'singleFileDirectories' => array(
        'internetradio/Kindergeschichten/'
    ),
);

//MIME types in addition to MP3 files that the clients
//support (and do not need transcoding for)
$clientSupport = [
    '127.0.0.1' => [
        'audio/ogg' => true,
    ],
];

//if this is set, transcode caching is activated
$enableCache = false;

//if this is true, podcast URLs are proxied
$enablePodcastProxy = false;
?>
