<?php
//$host1 = 'http://example.org/';
//$host2 = 'http://example.org/';
$mediatomb = array(
    'user' => 'fixme',
    'pass' => 'fixme',
    'host' => 'fixme',
    'port' => '49152',
    'singleFileDirectories' => array(
        'internetradio/Kindergeschichten/'
    ),
);
?>
